#chart {
    position: relative;
}

#chart svg {
    display: none;
}

#chart svg:first-child {
    display: inline-block;
    overflow: visible;
    width: 100%;
    height: auto;
}

.cluster.graphWrapper {
    margin: 0 auto;
}

.bubble {
    stroke-width: 0;
}
.bubble:hover {
    stroke-width: 2;
    stroke: #d5d5d5;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}
