.HeroGraphContainer {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}
.xAxisTimes {
    display: flex;
    justify-items: center;
    margin-bottom: 2rem;

    /*padding: 0 20px 20px 60px;*/
    justify-content: space-between;
}

.xAxisTimes {
    width: 100%;
}
.xAxisTimes .tick {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    display: flex;
    color: #adadad;
}

.heroYAxisText {
    font-family: Avenir, sans-serif;
    font-size: 0.6em;
}

.heroBars {
    margin-bottom: 2rem;
    overflow: overlay;
    width: 100%;
    height: auto;
}

.overviewBars .tooltip {
    display: flex;
    align-items: center;
}

.overviewBars .tooltip.total rect {
    fill: #ececec;
    stroke: #ececec;
    width: 35px;
    height: 13px;
}

.overviewBars .tooltip rect {
    fill: #ececec;
    stroke: #ececec;
    width: 83px;
    height: 22px;
}

.overviewBars .tooltip text {
    fill: #9330ff;
    font-size: 9px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}

.overviewBars .tooltip.total {
    visibility: hidden;
    transition: visibility 0.25s ease-in-out;
}

.overviewBars:hover .tooltip.total {
    visibility: visible;
}

.overviewBars.first {
    transition: all 3s ease-in-out;
}

#kernels .tooltip {
    visibility: hidden;
    transition: visibility 0.25s ease-in-out;
}
#kernels:hover .tooltip {
    visibility: visible;
}

#kernels .tooltip text {
    fill: #9330ff;
    font-size: 12px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}

#inputs .tooltip {
    visibility: hidden;

    transition: visibility 0.25s ease-in-out;
}
#inputs:hover .tooltip {
    visibility: visible;
}

#inputs .tooltip text {
    fill: #ff7630;
    font-size: 12px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}

#outputs .tooltip {
    visibility: hidden;
    transition: visibility 0.25s ease-in-out;
}
#outputs:hover .tooltip {
    visibility: visible;
}

#outputs .tooltip text {
    fill: #b4c9f5;
    font-size: 12px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}

.animate:first-child {
    animation: slide 1.5s linear;
}

@keyframes slide {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(0deg);
    }
}
