.HeroGraphContainer {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px;
}
.xAxisTimes {
    display: flex;
    justify-items: center;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.xAxisTimes {
    width: 100%;
}
.xAxisTimes .tick {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    display: flex;
    color: #adadad;
}
.heroYAxisText {
    font-family: Avenir, sans-serif;
    font-size: 0.6em;
}
.heroBars {
    margin-bottom: 2rem;
    overflow: overlay;
    width: 100%;
    height: auto;
}

@-moz-document url-prefix() {
    .heroBars {
        overflow: visible;
    }
}

/*block height tooltip*/

.overviewBars .tooltip.total rect {
    fill: #ececec;
    stroke: #ececec;
    width: 75px;
    height: 13px;
}

.overviewBars .tooltip text {
    fill: #9330ff;
    font-size: 9px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}
.overviewBars .tooltip.total {
    visibility: hidden;
    transition: visibility 0.25s ease-in-out;
}
.overviewBars:hover .tooltip.total {
    visibility: visible;
}

/*block height tooltip end*/

/*bars tooltips*/

.overviewBars .tooltip {
    display: flex;
    align-items: center;
}

.overviewBars .tooltip rect {
    fill: #ececec;
    stroke: #ececec;
    width: 63px;
    height: 15px;
}

#inputs .tooltip text,
#outputs .tooltip text,
#kernels .tooltip text {
    font-size: 9px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}

#inputs .tooltip,
#outputs .tooltip,
#kernels .tooltip {
    visibility: hidden;
    transition: visibility 0.25s ease-in-out;
}

#inputs:hover .tooltip,
#outputs:hover .tooltip,
#kernels:hover .tooltip {
    visibility: visible;
}

#kernels .tooltip text {
    fill: #9330ff;
}
#outputs .tooltip text {
    fill: #b4c9f5;
}
#inputs .tooltip text {
    fill: #ff7630;
}
/*bars tt end*/

/*animation*/

.overviewBars.first {
    transition: all 3s ease-in-out;
}

.animate:first-child {
    animation: slide 1.5s linear;
}

@keyframes slide {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(0deg);
    }
}

/*animation end*/
