@import '../../scss/lib/functions';
@import '../../scss/lib/vars';

.bar {
    fill: _color(graph-bar);
}

.bar:hover {
    fill: _color(graph-bar-hover);
    transition: fill 0.2s;
}

.simpleBars {
    margin: 20px;
    padding: 10px 20px 20px 60px;
    overflow: overlay;
}

.graph {
    display: flex;
    flex-direction: column;
}

.simpleGraphXTicks {
    color: _color(graph-ticks);
    display: flex;
    font-family: _font(family-regular);
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    align-self: center;
    width: 100% !important;
}

@-moz-document url-prefix() {
    .networkDifficultyPaths {
        overflow: visible;
    }
}

@media not all and (min-resolution: 0.001dpcm) {
    .networkDifficultyPaths {
        overflow: visible;
    }
}

.xAxisDate .tick {
    font-family: _font(family-regular);
    font-size: 14px;
    display: flex;
    color: _color(graph-ticks-secondary);
}

.xAxisLabel {
    font-family: _font(family-regular);
    font-size: 12px;
    color: _color(axis-label);
    text-align: center;
    margin: 5px 0 0 30px;
}

/*tooltips*/

.shapeHolder .tooltip {
    visibility: hidden;
}

.shapeHolder:hover .tooltip {
    visibility: visible;
}

.shapeHolder .tooltip text {
    fill: _color(primary);
    font-size: 10px;
    font-family: _font(family-regular);
    font-weight: bold;
}

.shapeHolder .tooltip.blockHeightTooltip text {
    fill: _color(tertiary);
}

.shapeHolder .tooltip rect {
    fill: _color(tooltip-secondary);
    stroke: _color(tooltip-secondary);
    height: 18px;
}

/*tooltips end*/
