.bar {
    fill: #5825cc;
}
.bar:hover {
    fill: #352583;
    transition: fill 0.2s;
}
.graphWrapper {
    padding: 30px;
    border-radius: 5px;
}
.simpleBars {
    margin: 20px;
    padding: 10px 20px 20px 60px;
    overflow: overlay;
}
.graph {
    display: flex;
    flex-direction: column;
}
.simpleGraphXTicks {
    color: #bcbcbc;
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    align-self: center;
}
