.bar {
    fill: #5825cc;
}
.bar:hover {
    fill: #352583;
    transition: fill 0.2s;
}
.graphWrapper {
    margin: 30px;
    border-radius: 5px;
    max-width: 40vw;
    overflow: hidden;
}
.simpleBars {
    margin: 20px;
    padding: 10px 20px 20px 60px;
    overflow: overlay;
}
.graph {
    display: flex;
    flex-direction: column;
}
.simpleGraphXTicks {
    color: #bcbcbc;
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    align-self: center;
    width: 100% !important;
}

.networkDifficultyGraph {
    margin: 30px;
}

.networkDifficultyPaths {
    overflow: overlay;
    margin: 30px;
    width: 100%;
    height: auto;
}

.xAxisDate {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 30px;
    color: #adadad;
}

.xAxisDate .tick {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    display: flex;
    color: #adadad;
}

.xAxisLabel {
    font-family: Avenir, sans-serif;
    font-size: 12px;
    color: #bababa;
    text-align: center;
    margin: 5px 0 0 30px;
}
