.bar {
    fill: #5825cc;
}
.bar:hover {
    fill: #352583;
    transition: fill 0.2s;
}

.barHolder .tooltip {
    visibility: hidden;
}
.barHolder:hover .tooltip {
    visibility: visible;
}
.tooltip text {
    fill: #9330ff;
    font-size: 12px;
    font-family: Avenir, sans-serif;
    font-weight: bold;
}
.tooltip rect {
    fill: #ececec;
    stroke: #ececec;
}

.graphWrapper {
    padding: 30px;
    border-radius: 5px;
}
.simpleBars {
    margin: 20px;
    padding: 20px 60px 0 60px;
    overflow: overlay;
}
.graph {
    display: flex;
    flex-direction: column;
}
.simpleGraphXTicks {
    color: #bcbcbc;
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 14px;
    font-weight: 700;
    justify-content: space-between;
    align-self: center;
}
.circulateSimpleBars {
    padding: 20px 60px 0 50px;
    overflow: overlay;
    margin: 20px;
}

.xAxisDate {
    display: flex;
    justify-items: center;
    margin: 20px 20px 20px 70px;
    justify-content: space-between;
}

.xAxisDate .tick {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    display: flex;
    color: #adadad;
}

.yAxisLabel {
    font-family: Avenir, sans-serif;
    font-size: 14px;
    transform: rotate(270deg);
}
