@import '../../scss/lib/colors';
@import '../../scss/lib/functions';
@import '../../scss/lib/vars';

.singleBlockViewHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 10px;
}

.colorMapping {
    display: flex;
    max-width: 450px;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.colorMapping > div {
    display: flex;
    margin: 10px;
}

.colorTitle {
    font-family: _font(family-regular);
    font-size: 14px;
    font-weight: 500;
}

.inputs {
    fill: _color(inputs);
}

.outputs {
    fill: _color(outputs);
}

.kernels {
    fill: _color(kernels);
}
