@import '../../scss/lib/colors';
@import '../../scss/lib/functions';
@import '../../scss/lib/vars';

.singleBlockViewHeader {
    display: flex;
    flex-direction: row;
}

.colorMapping {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.colorMapping > div {
    display: flex;
    margin: 1.5em;
}

.singleBlockViewHeader h1 {
    width: 60%;
}

.colorTitle {
    font-family: _font(family-regular);
    font-size: 14px;
    font-weight: 500;
}

.inputs {
    fill: _color(inputs);
}

.outputs {
    fill: _color(outputs);
}

.kernels {
    fill: _color(kernels);
}
