@import '../../scss/lib/functions';
@import '../../scss/lib/vars';

.StatBox-Row {
    color: _color(text-primary);
    display: flex;
    font-family: _font(family-regular);
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid _color(border-primary);
    flex-direction: row;
}

.StatBox-Row > div {
    width: 50%;
    padding: 1em;
    display: inline-block;
}

.StatBox-Row > div.Stat-value {
    text-align: right;
    font-size: 0.9em;
}
