.BlockCard {
    background-color: #ffffff;
    box-shadow: 10px 10px 25px rgba(16, 11, 22, 0.05);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 15px;
    width: 300px;
}

.BlockCard-Header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*margin-bottom: 36px; Add this back when we have decided on the chart to go in*/
    margin-bottom: 12px;
}

.BlockCard-Header > h1 {
    color: #37363a;
    display: block;
    font-family: Avenir, sans-serif;
    font-size: 17px;
    font-weight: 900;
}

.BlockCard-Header > h2 {
    color: #bcbcbc;
    display: block;
    font-family: Avenir, sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.BlockCard-ChartSVG {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.BlockCard-ticks {
    color: #bcbcbc;
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 10px;
    font-weight: 700;
    justify-content: space-between;
    margin: 15px 15px 15px 20px;
}

.BlockCard-stats {
    display: flex;
    justify-content: space-between;
}

.BlockCard-StatBox {
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Avenir, sans-serif;
    font-weight: 700;
    padding: 10px 0 10px 10px;
    width: 150px;
    margin-right: 10px;
}

.BlockCard-StatBox-value {
    font-size: 20px;
    line-height: 24px;
}

.BlockCard-StatBox-label {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.latestBlocksContainer {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.latestBlocksContainer .BlockCard {
    margin-right: 30px;
}

.latestBlocksContainer a {
    text-decoration: none;
}

.slideIn:first-child {
    animation: slideInBounce 1.25s ease-in-out;
    position: relative;
}

.slideIn {
    animation: slideOff 1s ease-in-out;
    position: relative;
}

@keyframes slideInBounce {
    0% {
        top: -350px;
    }
    90% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes slideOff {
    0% {
        left: -300px;
    }
    100% {
        left: 0;
    }
}

.latestBlocksAll {
    position: relative;
}
.rightCaret {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}
