.BlockCard {
    background-color: #ffffff;
    box-shadow: 10px 10px 25px rgba(16, 11, 22, 0.05);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px;
    width: 415px;
}

.BlockCard-Header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.BlockCard-Header > h1 {
    color: #37363a;
    display: block;
    font-family: Avenir, sans-serif;
    font-size: 17px;
    font-weight: 900;
}

.BlockCard-Header > h2 {
    color: #bcbcbc;
    display: block;
    font-family: Avenir, sans-serif;
    font-size: 13px;
    font-weight: 500;
}

.BlockCard-chart > svg {
    display: block;
    margin: auto;
}

.BlockCard-ticks {
    color: #bcbcbc;
    display: flex;
    font-family: Avenir, sans-serif;
    font-size: 10px;
    font-weight: 700;
    justify-content: space-between;
    margin: 15px 15px 15px 20px;
}

.BlockCard-stats {
    display: flex;
    justify-content: space-between;
}

.BlockCard-StatBox {
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Avenir, sans-serif;
    font-weight: 700;
    padding: 10px 0 10px 10px;
    width: 150px;
    margin-right: 10px;
}

.BlockCard-StatBox-value {
    font-size: 20px;
    line-height: 24px;
}

.BlockCard-StatBox-label {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.latestBlocksContainer {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.latestBlocksContainer .BlockCard {
    margin-right: 30px;
}

.slideIn:first-child {
    animation: slideInBounce 1.25s ease-in-out;
    position: relative;
}

.slideIn {
    animation: slideOff 1s ease-in-out;
    position: relative;
}

@keyframes slideInBounce {
    0% {
        top: -350px;
    }
    90% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes slideOff {
    0% {
        left: -415px;
    }
    100% {
        left: 0;
    }
}
