@import '../scss/lib/colors';
@import '../scss/lib/functions';
@import '../scss/lib/vars';

.SearchKernel {
    padding: 2em;
    min-height: 800px;
}

.SearchKernel h1 {
    font-weight: bold;
    font-family: _font(family-regular);
    font-size: 30px;
}

.SearchKernel h2 {
    font-weight: bold;
    font-family: _font(family-regular);
    font-size: 20px;
}

.SearchKernel a {
    text-decoration: none;
}
