@import '../scss/lib/functions';
@import '../scss/lib/vars';

.SideBar {
    border-right: 1px solid _color(border-primary);
    width: 90px;
}

.SideBar-navigationItem {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
}

.SideBar-navigationItem > svg {
    fill: _color(sidebar-fill);
    transition: fill 288ms;
}

.SideBar-navigationItem:hover > svg {
    fill: #372786;
}
