@import '../scss/lib/functions';
@import '../scss/lib/vars';

.SingleBlock {
    min-height: 800px;
}

.SingleBlock h1 {
    font-weight: bold;
    font-family: _font(family-regular);
    font-size: 30px;
    text-align: center;
}

.SingleBlock h3 {
    border-bottom: 1px solid _color(border-primary);
}

.SingleBlock a {
    text-decoration: none;
}
.block-data {
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.block-clustergraph {
    display: flex;
    justify-content: center;
    align-items: center;
}
#chart {
    padding: 30px 0;
    width: 50%;
}
@media (min-width: 1440px) {
    .block-data {
        flex-direction: row;
    }
    .block1 {
        flex-basis: 400px;
        flex-grow: 1;
    }
    .block2 {
        flex-basis: 800px;
        flex-grow: 2;
    }
    #chart {
        width: 100%;
    }
}
