.SingleBlock {
    padding: 2em;
    min-height: 800px;
}

.SingleBlock h1 {
    font-weight: bold;
    font-family: Avenir, sans-serif;
    font-size: 30px;
}

.SingleBlock a {
    text-decoration: none;
}
