.TopBar-searchBar {
    margin-left: 2em;
    position: relative;
}

.TopBar-searchBar input {
    padding: 10px 20px;
    width: 24em;
    border-radius: 3px;
    border: 1px solid #9330FF;
    background: #ffffff;
}
.TopBar-searchBar input:focus {
    outline: none;
}

.searchBarIcon {
    position: absolute;
    right: 8px;
    top: 10px;
    height: 15px;
    width: 15px;
}

.searchBarLoader {
    position: absolute;
    right: -69px;
    top: -42px;
    height: 120px;
    width: 180px;
}
