.TopBar {
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    flex-direction: row;
    position: relative;
}

.TopBar-logoContainer {
    align-items: center;
    border-right: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    width: 90px;
    padding: 10px 0;
}

.TopBar-logoContainer svg {
    width: 100px;
}

.TopBar-contentContainer {
    flex: 1;
}
.TopBar-searchContainer {
    width: calc(100% - 90px);
    justify-content: space-between;
}

.TopBar-searchContainer {
    padding: 10px 2em;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.TopBar-itemContainer {
    width: auto;
    justify-items: flex-start;
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-wrap: nowrap;
    flex-grow: 6;
    flex-direction: row;
}

.TopBar-itemContainer > * {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.simpleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #932fff;
    color: #fff;
    text-decoration: none;
    height: 35px;
    width: 110px;
    border-radius: 3px;
    border: 2px solid #932fff;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.simpleBtn:active,
.simpleBtn:hover {
    background-color: white;
    color: #932fff;
}

.simpleBtn p {
    font-family: Avenir, sans-serif;
    font-size: 12px;
    margin: 0;
    display: flex;
    font-weight: 500;
    user-select: none;
}

.TopBar .simpleBtn.mobile {
    display: none;
}

.simpleBtn.desktop {
    display: flex;
    flex-grow: 0;
}
