.TopBar {
    border-bottom: 1px solid #d8d8d8;
    display: flex;
    flex-direction: row;
}

.TopBar-logoContainer {
    align-items: center;
    border-right: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    width: 90px;
    padding: 10px 0;
}

.TopBar-logoContainer svg {
    width: 100px;
}

.TopBar-contentContainer {
    flex: 1;
}

.TopBar-searchContainer,
.TopBar-itemContainer {
    display: flex;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    flex-direction: row;
}

.TopBar-itemContainer > * {
    margin-left: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.TopBar-itemContainer div:first-child {
    margin-left: 2em;
}
