@import '../scss/lib/functions';
@import '../scss/lib/vars';

.TopBar {
    display: flex;
    flex-direction: column;
    background-color: #251961;
}
.TopBar-first {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    flex-direction: column;
}
.TopBar-second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    flex-direction: column;
    gap: 10px;
}
.SearchBar-bg {
    background-color: #1e1259;
    box-shadow: 0px -1px 52px rgba(57, 19, 167, 0.5);
}
@media (min-width: 600px) {
    .TopBar-second {
        justify-content: space-between;
        flex-direction: row;
    }
}
@media (min-width: 1220px) {
    .TopBar-first {
        justify-content: space-between;
        flex-direction: row;
    }
}
@media (min-width: 1500px) {
    .TopBar-first {
        box-sizing: content-box;
    }
}
.TopBar-logoContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 10px 0;
}

.TopBar-logoContainer svg {
    width: 100%;
    fill: _color(primary);
}

.TopBar-contentContainer {
    flex: 1;
}
.TopBar-searchContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.TopBar-itemContainer {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
    flex-grow: 6;
    flex-direction: row;
}

.TopBar-itemContainer > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: none;
    padding: 10px 30px;
}
@media (min-width: 769px) {
    .TopBar-itemContainer > * {
        border-right: 1px solid #3a1597;
        padding: 10px 30px;
    }
    .TopBar-itemContainer div:first-child {
        padding-left: 0;
    }
    .TopBar-itemContainer div:last-child {
        border-right: none;
        padding-right: 0;
    }
}

.simpleBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: _color(primary);
    color: _color(white);
    text-decoration: none;
    height: 35px;
    width: 110px;
    border-radius: 3px;
    border: 2px solid _color(primary);
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.simpleBtn:active,
.simpleBtn:hover {
    background-color: _color(white);
    color: _color(primary);
}

.simpleBtn p {
    font-family: _font(family-regular);
    font-size: 12px;
    margin: 0;
    display: flex;
    font-weight: 500;
    user-select: none;
}

.TopBar .simpleBtn.mobile {
    display: none;
}

.simpleBtn.desktop {
    display: flex;
    flex-grow: 0;
}
