@import '../scss/lib/functions';
@import '../scss/lib/vars';

.TopBarItem > h3 {
    color: #ffffff;
    display: block;
    font-family: _font(family-regular);
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -0.64px;
    margin: 0;
    text-transform: uppercase;
}

.TopBarItem > h4 {
    color: #d7bdf8;
    display: block;
    font-family: _font(family-regular);
    font-size: 11.6px;
    font-weight: 400;
    letter-spacing: -0.21px;
    margin: 0;
}

.TopBarItem > h3.lowerCase {
    text-transform: lowercase;
}

@media (min-width: 1220px) {
    .TopBarItem > h3 {
        font-size: 24.5px;
    }
}
