.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-content {
  display: flex;
  flex: 1;
}

.App-content-mainArea {
  flex: 1;

  overflow: hidden;
  max-width: calc(100% - 100px);
}
