@import './scss/lib/functions';
@import './scss/lib/vars';
@import './scss/flex';
@import './scss/padding';
@import 'scss/graph';

body {
    margin: 0;
}

.favicon {
    fill: _color(primary);
}

/*Mobile*/
@media (max-width: 768px) {
    /*General Styles*/
    .SideBar {
        display: none;
    }
    .App-content-mainArea {
        width: 100vw;
    }
    .hero {
        padding: 20px;
    }

    /*General Styles end*/

    /*Top bar*/
    .TopBar {
        flex-direction: column;
    }
    .TopBar-logoContainer {
        width: 100vw;
        border: none;
        position: relative;
    }
    .TopBar-searchContainer {
        flex-direction: column;
        width: 100vw;
        padding: 0;
        margin: 0 0 1em 0;
    }
    .TopBar-itemContainer {
        margin: 1em 0 0 2em;
        padding: 0 30px;
        flex-wrap: wrap;
    }
    .TopBar-itemContainer div:first-child,
    .TopBar-itemContainer div {
        margin: 0;
        align-items: flex-start;
    }
    .TopBar-searchContainer {
        justify-content: center;
    }
    .TopBar-searchBar {
        margin: 0;
    }

    .TopBarItem {
        width: 33%;
    }

    .TopBarItem > h3 {
        font-size: 18.5px;
    }

    .TopBarItem > h4 {
        font-size: 11px;
    }

    .TopBar .simpleBtn.mobile {
        display: flex;
        position: absolute;
        right: 1em;
        top: 50%;
        transform: translate(0, -50%);
    }

    .TopBar .simpleBtn.desktop {
        display: none;
    }
    .TopBar-logoContainer svg {
        align-self: center;
    }
    /*TopBar End*/

    /*Latest Blocks*/

    .rightCaret {
        width: 30px;
        height: 30px;
        right: -45px;
    }

    .rightCaret.small {
        right: -38px;
    }

    /*Latest Blocks End*/

    /*Graphs*/

    /*heroGraph*/
    .HeroGraphContainer {
        margin: 5px;
    }
    .heroYAxisText {
        font-size: 1em;
    }

    .xAxisTimes .tick {
        font-size: 8px;
    }
    .xAxisTimes {
        margin: -2.5em 0 1em 0;
    }

    .heroBars {
        margin-bottom: 0;
    }

    .networkDifficultyPaths {
        padding: 0;
    }

    .networkHashrateGraph .xAxisDate {
        width: auto;
        margin: 0 0 0 30px;
    }

    .networkHashrateGraph .xAxisDate .tick {
        font-size: 11px;
    }

    .xAxisLabel {
        font-size: 9px;
    }

    /*Graphs end*/

    /*single block*/

    .singleBlockViewHeader {
        flex-direction: column;
    }

    .StatBox-Row {
        flex-direction: column;
    }

    .StatBox-Row > div {
        width: 100%;
        padding: 0.5em;
        display: inline-block;
    }

    .StatBox-Row > div.Stat-value {
        text-align: left;
        color: _color(stat-value);
        overflow-wrap: break-word;
    }

    .colorMapping {
        width: 100%;
    }

    /*single block end*/
}

/*Tablets*/
@media (min-width: 992px) and (max-width: 1024px) {
    .TopBar-searchBar {
        display: flex;
        flex-direction: row;
    }

    .TopBar-itemContainer div:first-child {
        margin-left: 0;
    }
}
