body {
    margin: 0;
}

/*Mobile*/
@media (max-width: 768px) {
    /*General Styles*/
    .SideBar {
        display: none;
    }
    .App-content-mainArea {
        width: 100vw;
    }
    .hero {
        padding: 20px 30px;
    }
    .TopBar {
        flex-direction: column;
    }
    .TopBar-logoContainer {
        width: 100%;
        border: none;
    }
    .TopBar-itemContainer {
        margin-top: 1em;
    }

    .TopBar-itemContainer div {
        margin-left: 2em;
    }
    .TopBar-searchContainer {
        justify-content: center;
    }
    .TopBar-searchBar {
        margin: 0;
    }

    /*General Styles end*/

    /*Graphs*/

    /*heroGraph*/
    .heroBars {
        /*margin: 5px;*/
        /*padding: 5px 10px 0 30px;*/
    }

    .heroYAxisText {
        font-size: 14px;
    }
    /*Graphs end*/
}

/*Tablets*/
@media (min-width: 992px) {
    .App-content-mainArea {
        width: calc(100% - 100px);
    }
}
