.flex-group {
    display: block;

    > * {
        flex: none;
    }
}

@media only screen and (min-width: _breakpoint(step-one)) {
    .flex-group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        &.flex-start {
            justify-content: flex-start;
        }

        &.flex-end {
            justify-content: flex-end;
        }

        &.space-between {
            justify-content: space-between;
        }

        &.flex-center {
            justify-content: center;
        }

        &.flex-align-center {
            display: flex;
            align-items: center;
        }

        &.flex-align-end {
            display: flex;
            align-items: flex-end;
        }
    }

    > * {
        flex: 1;
        margin-right: 1rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}
@media only screen and (min-width: _breakpoint(step-five)) {
    .flex-group {
      max-width: 1900px;
      margin: 0 auto;
      }
    }
