.graphWrapper {
    width: 90%;
    max-width: 450px;
    padding: 25px;
}

@media (min-width: _breakpoint(step-five)) {

  .graphWrapper {
      max-width: 35%;
  }

}
.networkDifficultyPaths,
.circulateSimpleBars {
    margin: 2rem;
    width: calc(100% - 2rem);
    height: auto;
    overflow: visible;
}

.xAxisDate {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    width: calc(100% - 2rem);
    color: _color(graph-ticks-secondary);
}
