.graphWrapper {
    width: 90%;
    max-width: 300px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 10px 14px 28px rgba(35, 11, 73, 0.05);
    border-radius: 10px;
}

.graph-container {
    gap: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
}


@media (min-width: 500px) {
    .graphWrapper {
        max-width: 450px;
    }
}

@media (min-width: _breakpoint(step-five)) {
    .graphWrapper {
        max-width: 35%;
    }
}

.networkDifficultyPaths,
.circulateSimpleBars {
    margin: 2rem;
    width: calc(100% - 2rem);
    height: auto;
    overflow: visible;
}

.xAxisDate {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    width: calc(100% - 2rem);
    color: _color(graph-ticks-secondary);
}
