.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.padding-top-1 {
  padding-top: 1rem;
}

.padding-bottom-1 {
  padding-bottom: 1rem;
}

.padding-x-1 {
  padding: 0 1rem;
}

.padding-x-2 {
  padding: 0 2rem;
}

.padding-y-1 {
  padding: 1rem 0;
}

